---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { convertDate } from "../utils";

import "../styles/blog.css";

export interface Props {
  content: {
    title: string;
    description: string;
    author: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    image?: {
      url: string;
      alt: string;
    },
    tags?: string[];
  };
}

const {
  content: { title, description, pubDate, updatedDate, image, author, tags },
} = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead
      title={`${title} | Projects | ${SITE_TITLE}`}
      description={description}
      image={image?.url ||''}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body
    class='bg-gradient-to-r from-black to-gray-800 h-screen overflow-y-scroll overflow-x-hidden'
  >
    <Header title={SITE_TITLE} />

    <main
      class='min-h-full bg-gradient-to-br from-slate-900 via-black to-gray-800'
    >
      <article
        class='max-w-screen-md px-5 text-slate-300 mx-auto pt-16 sm:pt-24 md:px-10 md:pb-10 project-page'
      >
        <ul class='gap-x-2 flex text-sm'>
          <li>
            <a
              href='/projects'
              class='text-slate-500 hover:text-slate-200 hover:underline hover:underline-offset-2'
              >Projects</a
            >
          </li>/
          <li><a>{title}</a></li>
        </ul>
        <h1
          class='text-4xl md:text-5xl max-w-2xl font-bold mb-4 text-slate-200'
        >
          {title}
        </h1>
        <div class='mb-8'>
          <div class='flex justify-between text-slate-400'>
            <time>{convertDate(pubDate||'')}</time>
            <p class='mb-0'>By {author}</p>
          </div>
          
          {tags && tags.length > 0 && (
            <div class="flex flex-wrap gap-2 my-4">
              {tags.map((tag) => (
                <span class="px-3 py-1 text-xs rounded-full bg-slate-800 text-slate-300">
                  {tag}
                </span>
              ))}
            </div>
          )}
          
          <hr class='border-gray-400/40 mt-4' />
          {
            image ? (
              <img width={720} height={360} src={image.url} alt={image.alt} class="mt-6 rounded-lg" />
            ) : null
          }
        </div>
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <div class='inner-project'>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
